##### Name: David Geng
###### Class: Scientific Visualization
###### Instructor: Dr. Karl Schmitt
###### Interactive Dashboard

In [1]:
# import all required packages
import pandas as pd, seaborn as sns, matplotlib.pyplot as plt, os

In [2]:
# display graphs in jupyter notebook and set the directory to the Desktop
%matplotlib inline
%cd '/Users/weigeng/Desktop/Python'

/Users/weigeng/Desktop/Python

In [3]:
# check the current directory
os.getcwd()

'/Users/weigeng/Desktop/Python'

In [4]:
# load the dataset into DataFram
df=pd.read_csv('Indiana_population_citizen.csv')

In [5]:
# set the display option
pd.set_option('display.max_rows',20)
pd.set_option('display.precision',4)
df.head()

,State,Total Population,US Citizen Born in the United States,US Citizen by Naturalization,US Citizen born abroad,Not a US Citizen
0,California,38982847,27944679,5267884,519680,5250604
1,Texas,27419612,22400946,1667217,396271,2955178
2,Florida,20278447,15438189,2235304,733891,1871063
3,New York,19798228,14808448,2484644,499124,2006012
4,Pennsylvania,12790505,11728385,438578,220389,403153

In [6]:
# select top 5 populated States
df_top_10=df[1:10]
df_top_10

,State,Total Population,US Citizen Born in the United States,US Citizen by Naturalization,US Citizen born abroad,Not a US Citizen
1,Texas,27419612,22400946,1667217,396271,2955178
2,Florida,20278447,15438189,2235304,733891,1871063
3,New York,19798228,14808448,2484644,499124,2006012
4,Pennsylvania,12790505,11728385,438578,220389,403153
5,Ohio,11609756,11011732,254415,95689,247920
6,Illinois,12854526,10912660,886976,141008,913882
7,Michigan,9925568,9200023,336737,72349,316459
8,North Carolina,10052564,9147058,289662,117535,498309
9,Georgia,10201635,9040698,426341,137702,596894

In [7]:
from bokeh.io import output_file, show, curdoc
from bokeh.plotting import figure
from bokeh.models import ColumnDataSource, LabelSet, Slider
from bokeh.layouts import column
N=1000
source = ColumnDataSource(df_top_10)
plot = figure(title="US Citizen by Naturalization vs Not a US Citizen")
plot.circle(x='US Citizen by Naturalization', y='Not a US Citizen', source=source, size = 15, color="orange")
labels = LabelSet(x='US Citizen by Naturalization', y='Not a US Citizen', text='State', level='glyph',x_offset=5, y_offset=5, source=source, render_mode='canvas')
slider=Slider(start=0,end=100000000, value=N, step=10000, title='Total Population in the State')
def callback(attr, old, new):
    N=slider.value
slider.on_change('value',callback)
layout=column(slider,plot)
curdoc().add_root(layout)
plot.xaxis.axis_label = 'US Citizen by Naturalization'
plot.yaxis.axis_label = 'Not a US Citizen'
output_file('Interactive_Chart.html')
plot.add_layout(labels)
show(plot)